<% if logged_in? %>

<!DOCTYPE html>
<html>
  <script src="./googlemap.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
      <div id="map"></div>
      
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASSXpxYaHe5s3FmVsyIx9Zk5oRSYK6w6o&callback=initMap">
    </script>
    <script>
      initMap();
      </script>
    <button id="marker-hide">マーカーの非表示</button>
    <button id="marker-show">マーカーの表示</button>
    <button id="marker-del">マーカーの削除</button>
</html>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
      <body onload="initialize()" onunload="GUnload()">
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    
    <div class="col-md-8">
      <h3><a href="http://www.nanchatte.com/map/routingService.html">Microposts</a></h3>
      <p>
        距離：<span id="iddistance">(計測前)</span>、時間：<span id="idtime">(計測前)</span>
      </p>
    </div>
    </body>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Microposts</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>